doctype html

html(class="no-js")
	head
		title QUnit Tests
		link(rel='stylesheet', href='/stylesheets/qunit.css')		
		script(type="text/javascript", src="/javascripts/qunit.js")
		script(type="text/javascript", src="/javascripts/hw3frontjs.js")
		script(type="text/javascript", src="/javascripts/qunithw3test.js")
	
		

	body
		p QUnit - HW3 - IS217 - Alexander Bartolo
		
		div(id="qunit")
		div(id="qunit-fixture")








