body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
<<<<<<< HEAD
a {
  color: #00b7ff;
}
=======

a {
  color: #00B7FF;
}
>>>>>>> bc29d8e658499236e9584f60e35438c54a1e3886
